import os

from .defaults import *  # noqa


BASE_DIR = os.path.dirname(
    os.path.dirname(os.path.dirname(os.path.abspath(__file__))))

DEBUG = True

INSTALLED_APPS += (
    'debug_toolbar',
    'debug_panel',
    'django_extensions'
)

MIDDLEWARE_CLASSES += (
    # use this one if you are debugging ajax request
    'debug_panel.middleware.DebugPanelMiddleware',
    # use this one for normal debug
    # 'debug_toolbar.middleware.DebugToolbarMiddleware',
)

# for django-debug-toolbar
INTERNAL_IPS = ('127.0.0.1',)

ALLOWED_HOSTS = ['127.0.0.1']

SESSION_SAVE_EVERY_REQUEST = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'postgres',
        'USER': 'postgres',
        'PASSWORD': '',
        'HOST': 'postgresql',
        'PORT': '5432',
    }
}

SECRET_KEY = '#%(&hftk*_65ru(@1hq0=!02-1kvf806)(*qflx!wxrq=(46ad'

LANGUAGE_CODE = "fr-FR"

TIME_ZONE = 'Europe/Paris'

STATIC_ROOT = os.path.join(BASE_DIR, 'static/static/')

MEDIA_ROOT = os.path.join(BASE_DIR, 'static/media/')

MEDIA_URL = "/media/"

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

SITE_ID = 2

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'formatters': {
        'verbose': {
            'format': '%(levelname)s %(asctime)s %(module)s '
                      '%(process)d %(thread)d %(message)s'
        },
    },
    'handlers': {
        'console': {
            'level': 'INFO',
            'class': 'logging.StreamHandler',
            'formatter': 'verbose'
        }
    },
    'loggers': {
        '': {
            'level': 'INFO',
            'handlers': ['console'],
        },
        'django.db.backends': {
            'level': 'ERROR',
            'handlers': ['console'],
            'propagate': False,
        }
    },
}
